<div class="d-flex">
  <div>
    <%= movie.number_of_voted_up %><span class="ml-1"><i class="far fa-thumbs-up"></i></span>
  </div>
  <div class="ml-3">
    <%= movie.number_of_voted_down %><span class="ml-1"><i class="far fa-thumbs-down"></i></span>
  </div>
</div>
