<header class="c-header c-header-light c-header-fixed">
  <%= link_to root_path do %>
    <div class="header-nav d-none d-md-flex">
      <i class="fas fa-home fa-3x"></i>
      <h1 class="pl-1">Funny Movie</h1>
    </div>
  <% end %>
</header>
